*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #BCD3F2;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.button {
  height: 18vmin;
  width: 18vmin;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(24, 43, 25, 0.4);
  font-size: 8vmin;
  color: #395C6B;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(160, 205, 224, 0.1);
}

.reset-btn,
.new-game-btn {
  border: none;
  border-radius: 2rem;
  padding: 10px 15px;
  width: max-content;
  font-size: 3vmin;
  background-color: #46d64d;
  color: #ffff0b;
  cursor: pointer;
}

.reset-btn:hover,
.new-game-btn:hover {
  background-color: rgba(69, 214, 69, 0.3);
}

.msg {
  font-size: 6vmin;
  text-transform: uppercase;
  color: #48af44;
  /* background: #48af44; */
  margin: 1rem 0;
}

.hide {
  display: none;
}

.msg-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}